body {
    height: 100vh;
    margin: 0;
    font-family: "Jersey 25", sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

nav {
    z-index: 101;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 600px;
    height: 600px;
    background-color: white;
}

.square {
    width: auto;
    height: auto;
    color: white;
    background-color: black;
}

.scores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.scores div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

#leaderboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}

#leaderboard h1 {
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leaderboard-table {
    font-size: 4rem;
    width: 20vw;
    border-collapse: collapse;
}

#leaderboard-table td {
    border-bottom: 4px solid white;
}

#leaderboard-table td:first-child {
    text-align: left;
}

#leaderboard-table td:last-child {
    text-align: right;
}

#leaderboard-table tr:last-child td {
    border-bottom: 0;
}
